* {
	margin:0; 
	padding: 0;
}
html, body {
	height:100%;
}

body {
	font-family:Helvetica, Arial, Verdana;
	font-size: 90%;
	font-weight:300;
	color:$brand-three;
	-webkit-text-size-adjust: none;
	@include bp(desktop) {
		font-size: 100%;
	}
}
a {
	text-decoration:none;
}
a:hover {
	
}
::-moz-selection {
    background: $selectionColor;
    text-shadow: none;
}
::selection {
    background: $selectionColor;
    text-shadow: none;
}


h1, h2, h3, h4 {
	font-weight: normal;
	margin: 0 0 10px 0;
}
nav, ul {
	margin:0;
	padding:0;
	list-style:none;
}
blockquote {
	margin:0 0 0 0;
	padding: 0.35em 40px;
	line-height: 1.45;
	text-align:left;
	p {
		position: relative;
	}
	@include bp(tablet) {
		font-size:20px;		
	}
}

blockquote p:first-child:before {
	display: block;
	padding-left: 10px;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -50px;
	top: -20px;
	font-family: "arno-pro",serif;
	@include bp(tablet) {
		left: -60px;
		top: -52px;
		opacity:0.6;
		content:url(#{$assetPath}/quote-mark.png);		
	}
	@include bp(desktop) {
		left: -80px;
	}
}
blockquote p:first-child:after {
	display: block;
	padding-right: 10px;
	content: '\201D';
	font-size: 80px;
	position: absolute;
	right:-20px;
	bottom: -75px;
	font-family: "arno-pro",serif;
	@include bp(tablet) {
		right:0px;
		bottom: -50px;
		opacity:0.6;
		content:url(#{$assetPath}/quote-mark-close.png);
	}
	@include bp(desktop) {
		right: -30px;
	}
}

blockquote cite {
	font-size:17px;
	display: block;
	margin-top: 5px;
	font-style:normal;
}


.wrapper {
	width:96%;
	margin:0 auto;
	@include bp(desktop) {
		width: $pageWidth;	
	}
}
.wrapper-inner {
	width:96%;
	margin:0 auto;
	@include bp(desktop) {
		width:680px;
	}
}

header {
	position:relative;  
	width:100%; 
	float:left; 
	top:0; /* set for sticky header */ 
	padding:em(10) 0;
	background-color:#fff;
	z-index:9999;
	.contact-details {
		float:right;
		width:52%;
		margin-top:em(17);
		margin-bottom:em(15);
		@include bp(tablet) {
			width:auto;
			margin-top:0;
		}
		li {
			float:left;
			color:$brand-three;
			font-size:em(16);
			margin-left:em(20);
			font-family: "arno-pro",serif;
			@include bp(tablet) {
				font-size:em(18);
			}
			span {
				color:$brand-one;
			}
			a {
				color:$brand-three;
			}
		}
	}
}
@include bp(desktop) {
	.fixed { 
		position:fixed;
	}	
}


.logo {
	float:left;
	width:140px;
	height:70px;
	background:url(#{$assetPath}/obi_logo.png) no-repeat top left;
}

/** format elements which have backgrounds parallax **/
.bgParallax {
	margin: 0 auto;
	width: 100%;
	max-width:100%;
	position: relative;
	min-height:584px;
	background-position:center top;
	background-repeat:repeat;
	background-attachment: fixed;	
} 

#welcome {
	background-image:url(#{$assetPath}/banner1.jpg);
	section {
		min-height:584px;
	}
}
#services {
	min-height:1328px;
	background-color:#fff;
	section {
		min-height:1328px;
	}
}
#about {
	min-height:645px;
	background-image:url(#{$assetPath}/banner2.jpg);
	section {
		min-height:645px;
		
	}
}
#work-with-us {
	min-height:318px;
	background-color:#4f1929;
	section {
		min-height:318px;
	}
}
#contact {
	background-image:url(#{$assetPath}/banner3.jpg);
	section {
		min-height:584px;
	}
	
}
.bgParallax section {
	position:relative;
	display:block;
	width: 100%;
	text-align: center;
	margin:0 auto;
	padding:em(25) 0;
	@include bp(tablet) {
		padding:em(50) 0;		
	}	
}

#welcome.bgParallax {
	h1, p {
		color:#fff;
		font-family: "arno-pro",serif;
	}
	h1 {
		font-size:em(40);
		line-height:46px;
		margin-top:255px;
		@include bp(tablet) {
			font-size:em(56);
			line-height:66px;
			padding-top:70px;
			margin-top:0;	
		}
	}
	p {
		font-size:em(20);
	}
	.loader {
		position:relative;
		opacity:0; 
		@include animation(fadeInFromTop ease-in 1);
		@include animation-fill-mode(forwards);
		@include animation-duration(1s);
		p {
			font-family:Helvetica, Arial, Verdana;
		}
	}
}

.welcome-links {
	position:relative;
	width:100%;
	height:335px;
	margin-top:em(30);
	.starter-arrow {
		display:none;
		@include bp(desktop) {
			position:absolute;
			top:38px;
			right:0;
			width:244px;
			height:800px;
			background:url(#{$assetPath}/down-arrow-top.png) no-repeat top center;
			z-index:2000;
			display:block;
		}
		@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
			right:90px;
		}
		a:hover p {
			color:$brand-two !important;
		}
	}
}
.starter-arrow svg {
	width:43px;
	height:44px;
}
#about .starter-arrow svg {
	width:44px;
	height:43px;
}
.starter-arrow a:hover svg,
.starter-arrow-down a:hover svg {
	.inner {
		fill:#f9a725;
	}
	.arrow {
		fill:#fff;
	}
}

.welcome-links a {
	color:#fff;
	display:block;
	background:#9f2842;
	border:5px solid #b03f58;
	border-radius:20px;
	margin-bottom:em(8);
	@include bp(tablet) {
		border:none;
		background:none;	
		margin:0;
	}
}

/* Tablet and up circles */
.circle-red {
	@include bp(tablet) {
		width:100%;
		height:100%;
		padding-bottom: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background-color:#9f2842;
		border: 7px solid #b03f58;
		&:hover {
			background-color:#701c2e;
			border: 7px solid #7c2c3e;
		}
	}
	p span {
		font-size:18px !important;
		font-family:Helvetica, Arial, Verdana;
	}
}
@include bp(tablet) {			
	#welcome .c1 {
		position:absolute;
		bottom:20px;
		left:40px;
		width:120px;
		height:120px;
		color:#fff;
		z-index:500;
		.circle-red p {
			width:100%;
			font-size:18px;
			font-family:Helvetica, Arial, Verdana;
			@include bp(tablet) {
				padding-top:40px;
			}
		 }
	}
	#welcome .c2 {
		position:absolute;
		top:60px;
		left:110px;	
		width:220px;
		height:220px;
		color:#fff;
		z-index:400;
		.circle-red p {
			width:100%;
			font-size:35px;
			line-height:37px;
			padding-top:70px;
			margin:0;
			span {
				position:relative;
				top:-6px;
				font-size:20px;
			}
		 }
	}
	#welcome .c3 {
		position:absolute;
		top:0;
		left:290px;	
		width:220px;
		height:220px;
		color:#fff;
		z-index:500;
		.circle-red p {
			width:100%;
			font-size:35px;
			line-height:37px;
			padding-top:70px;
			margin:0;
			span {
				position:relative;
				top:-6px;
				font-size:20px;
			}
		 }
	}
	#welcome .c4 {
		position:absolute;
		top:172px;
		left:430px;
		width:120px;
		height:120px;
		color:#fff;
		.circle-red p {
			width:100%;
			font-size:18px;
			padding-top:40px;
			font-family:Helvetica, Arial, Verdana;
		 }
	}
	#welcome .c5 {
		position:absolute;
		top:150px;
		left:529px;
		width:100px;
		height:100px;
		color:#fff;
		.circle-red p {
			width:100%;
			font-size:18px;
			padding-top:30px;
			font-family:Helvetica, Arial, Verdana;
		 }
	}
}

#services.bgParallax {
	h1 {
		font-size:em(50);
		font-family: "arno-pro",serif;
	}
	p {
		font-size:em(18);
		text-align:left;
		margin-bottom:em(10);
	}
	.content-indent {
		padding-left:41px;
	}
}
#about.bgParallax {
	h1, p {
		color:#fff;
		text-align:left;
		@include bp(desktop) {
			float:right;
			width:74.489795918367%;
		}
	}
	h1 {
		font-size:em(40);
		padding-top:25px;
		font-family: "arno-pro",serif;
		@include bp(tablet) {
			padding-top:50px;	
		}
	}
	p {
		font-size:em(18);
		margin-bottom:em(10);
		&:first-of-type {
			font-weight:700;
			font-family: "arno-pro",serif;
		}
	}
	article {
		position:relative;
		@include inline-block;
		margin-bottom:em(25);
		@include bp(desktop) {
			float:right;
			width:74.489795918367%;
			margin-bottom:em(30);
		}
		ul {
			position:absolute;
			top:0;
			right:0;
			@include bp(tablet) {
			
			}
			li {
				float:left;
				a {
					float:left;
					width:30px;
					height:20px;
					margin-left:10px;
					svg:hover path {
						fill:$brand-two;
					}
				}
			}
		}
		.imgcontainer {
			float:left;
			width:70px;
			height:70px;
			margin-right:em(30);
			img {
				margin-top:5px;
				-moz-border-radius: 50%;
				-webkit-border-radius: 50%;
				border-radius: 50%;
				background-color:#f5dc6e;
				border: 3px solid $brand-two;
			}
		}
		h4 {
			color:#fff;
			font-size:em(20);
			font-family: "arno-pro",serif;
			margin-bottom:em(3);
			padding-right:80px;
			@include bp(desktop) {
				float:left;
				padding-right:0;
			}
		}
		p,
		p:first-of-type {
			
			font-size:em(16);
			font-weight:400;
			font-family:Helvetica, Arial, Verdana;
			overflow:hidden;
			@include bp(desktop) {
				float:left;
			display:inline-block;
			}
		}
	}
	
}

@include bp(desktop) {
	#content-slider {
		position:relative;
		margin: 0 auto;
		overflow:hidden;
		width:100%;
		height:600px;
	}
	
	#slider {
		position:absolute;
		left:0; 
		width:100%;
	}
	#slider > div.slide {
		position:relative;
		float:left;
		width:$pageWidth;		
	}
}

span#next {
	display:none;
	@include bp(desktop) {
		display:inline-block;
		position:absolute;
		bottom:80px;
		cursor:pointer;
		padding:5px;
		width:140px;
		height:140px;
		z-index:2000;
		.circle-trigger {
			width:100%;
			height:100%;
			padding-bottom: 50%;
			-moz-border-radius: 50%;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			background-color:#f7a800;
			border: 5px solid #f5dc6e;
			p {
				width:100%;
				display:block;
				font-size:em(22);
				line-height:27px;
				text-align:center;
				padding:0 em(10);
				margin:26px auto em(3) auto;
			}
			svg {
				display:block;
				margin:0 auto;
				@include transform(rotateY(180deg));
			}
		}
	}
}

span#next.active .circle-trigger,
span#next:hover .circle-trigger {
	background-color:#fff;
	border: 5px solid $brand-two;
	.arrowfill {
		fill:#f7a800;
	}
	p {
		color:#f7a800;
	}
}
span#next.active .circle-trigger {
	background-color:#f7a800;
	border: 5px solid #f5dc6e;
	.roateme {
		transform:none;
	}
	.arrowfill {
		fill:#fff;
	}
	p {
		color:#fff;
		
	}
}

span#next:hover .arrowfill {
	/*fill:#f7a800;*/
}

#work-with-us.bgParallax {
	h1, p {
		color:#fff;
		font-family: "arno-pro",serif;
	}
	h1 {
		font-size:em(40);
	}
	p {
		font-size:em(20);
		&.standout {
			font-size:18px;
			max-width:470px;
			display:block;
			margin:em(34) auto 0 auto;
			padding:em(8) em(20);
			background:$brand-one;
			font-family:Helvetica, Arial, Verdana;
			border:1px solid #573843;
		}
	}
	a {
		color:$brand-two;
		&:hover {
			text-decoration:underline;
		}
	}
}
#work-with-us.bgParallax section .wrapper {
	position:relative;
	a.starter-arrow-text-tabs {
		display:none;
		@include bp(desktop) {
			position:absolute;
			top:-180px;
			right:-15px;
			color:#fff;
			width:144px;
			text-align:center;
			font-size:18px;
			z-index:2000;
			display:block;
			&:hover {
				color:$brand-two;
			}
		}
	}
	.starter-arrow-down {
		display:none;
		@include bp(desktop) {
			position:absolute;
			top:-150px;
			right:0;
			width:169px;
			height:561px;
			background:url(#{$assetPath}/about-arrow.png) no-repeat bottom left;
			/*transform: rotateY( 180deg ); */
			@include transform(rotateY(180deg));
			z-index:9000;
			display:block;
			svg {
				position:relative;
				top:-5px;
				right:38px;
			}
		}
		@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
			right:30px;
		}
		p {
			position:relative;
			top:-15px;
			right:40px;
			@include transform(rotateY(180deg));
		}
		a {
			display:block;
		}
		a:hover {
			text-decoration:none;
			 p {
				color:$brand-two;
				text-decoration:none;
			}
		}
	}
}

#contact.bgParallax {
	.contact-container--left {
		float:left;
		width:100%;
		text-align:left;
		font-family: "arno-pro",serif;
		@include bp(tablet) {
			width:50%;	
		}
		h1 {
			font-size:em(40);
			color:$brand-one;
		}
		p,
		address {
			font-size:em(20);
			font-style:normal;
			span {
				color:$brand-one;
			}
		}
		p {
			margin-bottom:em(10);
			&.credit {
				font-size:em(18);
				margin-bottom:0;
				margin-top:em(20);
				@include bp(tablet) {
					margin-top:em(95);
				}
			}
		}
		a {
			color:$brand-one;
			font-size:20px;
			&:hover {
				text-decoration:underline;
			}
		}
	}
	.wrapper {
		position:relative;
	}
}

.contact-container {
	display:inline-block;
	width:100%;
	height:307px;
	margin-top:em(20);
	@include bp(tablet) {
		position:absolute;
		top:-20px;
		right:0;
		width:317px;
		height:317px;		
	}
	@include bp(desktop) {
		width:517px;
		height:517px;
	}
}
.contact-bubble {
	h2 {
		font-size:em(40);
		margin-top:em(20);
		margin-bottom:em(5);
		font-family: "arno-pro",serif;
	}
}
.contact-bubble.message-sent {
	h2, p {
		color:#fff;
	}
	h2 {
		margin-top:48%;
		margin-bottom:0;
	}
	p {
		font-size:em(20);
		line-height:28px;
	}
}
.contact-form {
	width:80%;
	display:block;
	margin:0 auto;
}


.circle {
	width:100%;
	padding-bottom:em(20);
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border: 10px solid $brand-two;
	background-color:#f5dc6e;
	@include bp(desktop) {
		height:100%;
		padding-bottom: 50%;
		-moz-border-radius: 50%;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		padding-bottom:0;

	}
	&.message-sent {
		border: 10px solid #b6dc7a;
		background-color:#6ac14c;
	}
}


/*  Services tabs */
.tabs {
	position: relative;   
	min-height:1120px; /* This part sucks */
	clear: both;
	margin:em(80) 0 em(20) 0;
	@include bp(tablet) {
		min-height: 602px;		
	}
	a.starter-arrow-text-tabs {
		display:none;
		@include bp(desktop) {
			position:absolute;
			top:551px;
			left:-10px;
			color:$brand-three;
			width:144px;
			text-align:center;
			font-size:18px;
			display:block;
			z-index:2000;
			&:hover {
				color:$brand-two;
				text-decoration:none;
			}
		}
	}
	.starter-arrow {
		display:none;
		@include bp(desktop) {
			position:absolute;
			top:561px;
			left:0;
			width:169px;
			height:561px;
			display:block;
			background:url(#{$assetPath}/about-arrow.png) no-repeat top left;
			z-index:2000;
			svg {
				position:relative;
				top:-4px;
				right:43px;
			}
		}
		p {
			position:relative;
			left:-10px;
			color:$brand-three;
		}
		a:hover p {
			color:$brand-two;
		}
	}
}
.tab {
	float: left;
	width:48%;
	&:last-of-type {
		float:right;
	}
}
.tab label {
	position: relative;
	left: 1px;
	float: left;
	width:100%;
	padding:em(45) 0 em(6) 0;
	color:#c1c2c3; 
	font-size:em(20);
	line-height:22px;
	background: #fff;
	font-family: "arno-pro",serif;
	box-shadow:none;
	border:1px solid #d0d1d2;
	cursor:pointer;
	
	@include bp(tablet) {
		font-size:em(28);
		line-height:39px;
		padding:em(30) 0 em(4) 0;
	}
	span {
		position:absolute;
		top:-46px;
		left:50%;
		width:92px;
		height:92px;
		margin-left:-46px;
		display:block;
		/*background-image:url(#{$assetPath}/tab1.png);*/
	}
}
.tab [type=radio] {
	display: none;   
}
.content {
	position: absolute;
	top:115px;
	left: 0;
	background: white;
	right: 0;
	bottom: 0;
	padding:em(20) 0; 
	overflow: hidden;
	opacity:0;
	@include bp(tablet) {
		top:140px;		
	}
	@include bp(desktop) {
		top:105px;		
	}	
}
[type=radio]:checked ~ label,
label:hover {
	color:#d9a9b3;
	color:$brand-one;
	background:#fff;
	box-shadow: 0 0 8px #e8e8e8;	
	z-index: 2;
	span svg path.colchange {
		fill:$brand-one;
	}
	span svg path.colchange-border {
		fill:#b03f58;
	}
}
[type=radio]:checked ~ label ~ .content {
	opacity: 1;

	@include transition (all ease-in 2s);
	z-index: 1;
}

.col-one {
	float:left;
	width:100%;
	@include bp(tablet) {
		width:40.816326530612%;	 /* 400 / 980 */	
	}
}
.col-two {
	float:right;
	width:100%;
	@include bp(tablet) {
		width:56.122448979592%;	 /* 550 / 980 */	
	}
}
.col-three {
	float:left;
	width:100%;
	@include bp(tablet) {
		width:56.122448979592%;	 /* 550 / 980 */	
	}
}
.col-four {
	float:right;
	width:100%;
	@include bp(tablet) {
		width:40.816326530612%;	 /* 400 / 980 */	
	}
}

.col-one, 
.col-two,
.col-three,
.col-four {
	ul {
		margin:0 em(100);
		li {
			text-align:center;
			color:$brand-one;
			font-size:em(20);
			line-height:26px;
			margin-bottom:em(16);
			font-family: "arno-pro",serif;
		}
	}
	p {
		font-size:em(18);
		line-height:26px;
		margin-bottom:em(16);
	}
}

